language: python
matrix:
  include:
    - python: 2.7
    env:
       - TOX_ENV=py27
    - python: 3.4
    env:
       - TOX_ENV=py34
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
install:
  - pip install tox 
script:
  - tox -e $TOX_ENV
