{
  "account_id": "<ACCOUNT_ID>",
  "app_id": "<FACEBOOK_APP_ID>",
  "app_secret": "<FACEBOOK_APP_SECRET>",
  "image_jpg": "<IMAGE_JPG>",
  "image_zip": "<IMAGE_ZIP>",
  "object_id": "<OBJECT_ID>",
  "object_url": "<OBJECT_URL>",
  "adset_id": "<ADSET_ID>",
  "hash_1": "<HASH_1>",
  "hash_2": "<HASH_2>"
}
